
/*
body{
    background-color: red;
}*/
body{
    font-family:Arial;
    line-height: 25px;
    background-color: pink;
    margin:0;
}


img{
    width:100%;

}
.column{
    width:600px;
    margin:0px auto;
    background-color: white;
    padding: 1px 40px 40px 40px;
border-left: solid 25px yellow;
border-right: solid 25px yellow;


}
h1{
    font-size: 60px;
    font-style: italic;
}