
/*
body{
    background-color: red;
}*/
body{
    font-family:Arial;
    line-height: 25px;
   
}

img{
    width:100%;

}
.column{
    width:600px;
    margin:40px auto;
    border: dotted 15px grey;
    padding: 1em;
}
p {
    border: solid 5px grey;
    padding: 1em;
s
}